.site-login {
    display: flex;
    justify-content: center;
}

.site-login-wrap {
    width: 550px;
    text-align: center;
}

.site-login-block {
    display: contents;
}

#login-form,
#form-signup {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.site-signup {
    display: flex;
    justify-content: center;
    text-align: center;
}

.counter-item {
    font-weight: 900;
    font-size: 160px;
}
